<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
<div class="news-container" *ngFor="let news of newsArticles; index as i">
    <div class="left-side">
        <img class="news-image" (click)="goToArticle(i)"
        [src]="newsArticles[i].urlToImage"
        [alt]="news.title"
      /></div>
    <div class="right-side"><h2 (click)="goToArticle(i)">{{ news.title }}</h2>
                            <p>{{ news.description }}</p></div>
</div>
