<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <button class="button"  routerLink="/news" mat-raised-button color="accent">
      <span>Latest news</span>
      <mat-icon class="icon">explore</mat-icon>
        </button>
        <button class="button"  routerLink="/technical-charts" mat-raised-button color="accent"><span>Technical charts</span>
            <mat-icon class="icon">timeline</mat-icon>
        </button>
        <button class="button" routerLink="/saved-news" mat-raised-button color="accent"><span>Saved news</span>
            <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">stars</mat-icon>
        </button>
    </mat-toolbar-row>
  </mat-toolbar>
  